<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gueei.applocker"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:name="AppLockerApplication"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".AppLockerActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="AppLockerPreferenceActivity"
            android:label="@string/appLockerPreferenceActivityName"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ApplicationListActivity"
            android:label="@string/appLockerPreferenceActivityName" >
        </activity>

        <service android:name="DetectorService" >
        </service>
        <activity
            android:name="LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.gueei.applocker.khanhtq.activities.MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="StartupServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>